@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background: url("./public/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */