/* Setup the background color */
body {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4rem;
    overflow-y: auto;
    box-sizing: border-box;
}

.hello-world__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    row-gap: 10px;
}



