name: Helloworld Daily Deploy

on:
  push:
    paths:
      - helloworld/**
  workflow_dispatch:
  schedule:
    - cron: "0 7 * * *"

jobs:
  deploy-helloworld:
    defaults:
      run:
        working-directory: ./helloworld/contracts/

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"
          cache-dependency-path: ./helloworld/contracts/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Deploy
        run: |
          if npm run deploy | grep -q "Hello, World!"; then
            echo "Hello, World! event received."
          else
            echo "No Hello, World! event."
            exit 1
          fi
        env:
          JSON_RPC_URL_PUBLIC: ${{ secrets.JSON_RPC_URL_PUBLIC }}
          WALLET_PRIVATE_KEY: ${{ secrets.WALLET_PRIVATE_KEY }}
