name: Tictactoe CI

on:
  push:
    paths:
      - games/tictactoe/**

defaults:
  run:
    working-directory: ./tictactoe-contract/

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install
        run: npm ci

      - name: Test
        run: npm run test

  code-quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install
        run: npm ci

      - name: Code quality
        run: npm run fmt:check

